*.txt

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development
.env.test
.env.production

logs/
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

dist/
build/
coverage/

data/
dump/

tmp/
temp/

test/

medicine.json
dev.notes.md
