
// Accent
$clr-accent: hsl(0, 75%, 50%);

// Primary blues
$clr-primary: hsl(220, 55%, 40%);
$clr-secondary: hsl(220, 45%, 48%);

// Neutrals
$clr-surface: hsl(0, 0%, 85%);
$clr-background: hsl(0, 0%, 98%);
$clr-text: hsl(0, 0%, 8%);
